.flip-right-animation {
    animation: flip-right 0.7s; /* Adjust the duration as needed */
  }
  
  @keyframes flip-right {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(180deg);
    }
  }
  